<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
         <li><a href="/">Головна</a></li>
          <li> <a href="/tours">Тури</a></li>
           <li> <a href="/countries">Країни</a></li>
             <li><a href="/contacts">Контакти</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
